<div class="newCar">
<h2>Carbrands</h2>
    <a href="#/cars/new" >Create new carbrand</a><br>
    <label>Sort</label>
    <input ng-model="query">
<ul>
    <li ng-repeat="carbrand in carbrends | filter:query">
        <span>|| ID:{{carbrand.id}} || </span>
        <!--<span>Brand: {{carbrand.brand }} -&#45;&#45;</span>-->
        <!--<span><a href="#/cars/{{carbrand.id}}" >Edit</a></span>-->
        <span>
            <edit-input branding="carbrand"
                        type="number"
                        change="update(carbrand)">

            </edit-input>
        </span>
        <span><a href="#/cars" ng-click="Delete(carbrand.id)" >Delete</a></span>

    </li>
</ul>




</div>